.title{
	font-size: 25px;
	font-weight:700;
	text-transform: uppercase;
	color: #170b6d;
	text-align: center;
    font-family: cursive;
    margin-top: 50px;

}
.nom{
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 700;
    font-family: cursive;
    text-align: center;
	color: #170b6d;
}
 .statut{
	font-weight: 300;
	font-size: 20px;
    text-align: center;
}
.about{
	margin-top: 20px;
	line-height: 26px;
}
.left{
    background-color:rgb(111, 152, 241);
    margin: 30px;

}
 img{
    border-radius: 60%;
}
.pic{
    text-align: center;
}
dt {
    color: rgb(77, 109, 177);
}
body{
    background-color:rgb(239, 247, 247) ;  
}
.right {
    margin: 50px;
}